<!-- Footer -->
<footer class="footer">
  <div class="content has-text-centered">
    <p>
  <img alt="" width="260" src="https://jjnx.b-cdn.net/jakejnx-logo.png"> <br>
  Copyright Jake Jenkins and respective owners 2020.  All Rights Reserved.
  </p>
  </div>
</footer>

<script>
document.addEventListener('DOMContentLoaded', () => {

  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  if ($navbarBurgers.length > 0) {

    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        const target = el.dataset.target;
        const $target = document.getElementById(target);

        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});
</script>