<!-- Navigation Bar-->

<div class="w3-bar w3-dark-grey">
  <div class="jct">
  <a href="/" class="w3-bar-item"><img alt="jakejnx logo" src="https://cdn.jakejnx.com/jakejnx-logo.png"></a>
  <a href="/" class="w3-bar-item w3-button w3-hide-small">About</a>
  <a href="/services" class="w3-bar-item w3-button w3-hide-small">Services</a>
  <a href="/portfolio" class="w3-bar-item w3-button w3-hide-small">Portfolio</a>
  <a href="/blog" class="w3-bar-item w3-button w3-hide-small">Blog</a>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="myFunction()">&#9776;</a>
</div>

<div id="demo" class="w3-bar-block w3-dark-grey w3-hide w3-hide-large w3-hide-medium">
  <a href="/" class="w3-bar-item w3-button">About</a>
  <a href="/services" class="w3-bar-item w3-button">Services</a>
  <a href="/portfolio" class="w3-bar-item w3-button">Portfolio</a>
  <a href="/blog" class="w3-bar-item w3-button">Blog</a>
</div>

</div>
