<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v8.0'
    });
  };

  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your Chat Plugin code -->
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="111824540639304">
</div>

<!-- Navigation Bar-->
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
<div class="container">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img alt="jakejnx logo" src="/assets/jakejnx-logo.png">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        About
      </a>

      <a class="navbar-item" href="/services">
        Services
      </a>

        <a class="navbar-item" href="/portfolio">
          Portfolio
        </a>
        <a class="navbar-item" href="/blog">
          Blog
        </a>


    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light" href="/talk-to-me">
              <span>Talk to Me</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>
</nav>
