---
layout: default
---

<div class="container">
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/portfolio.html">Portfolio</a></li>
    <li class="is-active"> {{ page.title | escape }}</li>
  </ul>
</nav>
</div>
<p>&nbsp;</p>
<section class="hero is-medium is-bold {{ page.color }}">
  <div class="hero-body">
    <div class="container">
      
<h1 class="title">
        {{ page.title | escape }}   
</h1>

<p>
<div class="tags">
  {% for tags in page.tags %}
      <span class="tag is-link"> {{ tags }} </span>
 {% endfor %}
</div>
</p>
    </div>
  </div>
</section>

<div class="container">

<article
    class="post h-entry"
    itemscope
    itemtype="http://schema.org/BlogPosting"
  >
    <header class="post-header">
      <p class="post-meta">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y"
        -%}
        <time
          class="dt-published"
          datetime="{{ page.date | date_to_xmlschema }}"
          itemprop="datePublished"
        >
          {{ page.date | date: date_format }}
        </time>
        {%- if page.modified_date -%} ~ {%- assign mdate = page.modified_date |
        date_to_xmlschema -%}
        <time
          class="dt-modified"
          datetime="{{ mdate }}"
          itemprop="dateModified"
        >
          {{ mdate | date: date_format }}
        </time>
        {%- endif -%} {%- if page.author -%} • {% for author in page.author %}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span class="p-author h-card" itemprop="name"
            >{{ author }}</span
          ></span
        >
        {%- if forloop.last == false %}, {% endif -%} {% endfor %} {%- endif -%}
      </p>
    </header>

    <div class="post-content e-content" itemprop="articleBody">
      {{ content }}
    </div>

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  </article>
  
</div>
